@use "./variables" as *;

body {
  font-family: $font-base;
  background: $color-bg;
  color: $color-text;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
.site-branding {
  font-weight: 700;
}
.site-main {
  padding: 0 0 32px;
}
#billing_nip_field:has(.checkout-inline-error-message) {
  label {
    color: var(--wc-red);
  }

  input {
    border-color: var(--wc-red);
  }
}
