.m-tile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  img {
    object-fit: cover;
    border-radius: 8px;
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }
  @media (min-width: 1024px) {
    width: calc(100% / 3 - 32px / 3);
  }
}
